*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', sans-serif;
}

	/*Encabezado*/
.header{
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;left: 0;
	background: #4DC1DC;
	display: inline;
	z-index: 100000;
}
.container{
	width: 90%;
	max-width: 1200px;
	margin: auto;
}
.container .btnMenu, .logo{
	float: left;
	line-height:100px;
	z-index: 10000;
}
.logo h1{
	color: #fff;
	font-weight: 100;
	font-size: 22px;
	margin-left: 10%;
	font-family: 'Zen Maru Gothic', sans-serif;
	display: inline-block;
}
.barra h2{
	color: #ffffff;
	font-family: 'Releway', sans-serif;
	margin-left: -125%;
}
.barra{
	float: right;
	line-height: 100px;
}
.barra a{
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: #ffffff;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	margin-right: 5px;
}
.barra a:hover{
	border-bottom: 2px solid #c7c7c7;
	padding-bottom: 5px;
}

a{
	text-decoration: none;
}
	/**********************/
	

	/*Lateral*/
#btnMenu{
	display: none;
	background: #4DC1DC;
}
.containerMenu{
	position: absolute;
	top: 0;left: 0;
	transition: all 500ms ease;
}
.contMenu{
	position: fixed;
	width: 130%;
	max-width: 250px;
	background: #175462;
	height: 100%;
}
.contMenu{
	transform: translateY(15%);
	padding-top: 2%;
}
.contMenu a{
	display: block;
	text-decoration: none;
	padding: 30px;
	color: #c7c7c7;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}
.contMenu a:hover{
	border-left: 5px solid #1892AD;
	background: #0F414C;
}
	#iUno{
	margin-left: 22%;
}
	#i{
	margin-left:40%;
}

	/**************************/


	/*Párrafo de advertencia*/

.advertencia{
	margin-left: 20%;
	margin-right: 8%;
}

.advertencia p{
	color: #1892AD;
	font-size: 30px;
	margin-left: 10%;
}

.advertencia .pUno{
	padding-bottom: 5%;
}

.advertencia .nota{
	color: #D61818;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;

}

.advertencia button{
	margin-left: 45%;
	font-family: 'Releway', sans-serif; 
	color: #318aac !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
    border-radius: 50px;
}

.advertencia button:hover{
	color: rgba(255, 255, 255, 0.9) !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: #318aac;
	border: 2px solid;
	border-color: #318aac;
}

	/**************************/

	/*ícono*/
img{
	width: 10%;
	margin-left: 55%;
	margin-top: 150px;
}
/*************************/