*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: rgb(219, 219, 219);
}
/*------------------------Nav---------------------------------*/
.nav{
    position: fixed;
    color: #fff;
    width: 100%;
    background: rgba(255, 255, 255);
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.5s ease;
    height: 70px;
    z-index: 1000;
    box-shadow: 0px 10px rgba(32, 140, 203, 0.7);
}

.navName{
    display: flex;
    font-size: 30px;
    margin-left: 100px;
    color: #000;
    font-weight: 100;
    align-items: center;
}

.navNameH4{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.logo{
    margin-left: 20px;
    font-size: 25px;
    margin-top: 5px;
    
}

.navImgLogo{
    width: 40px;
    margin: 0 10px 0 10px;
}

.menu{
    display: flex;
    margin-right: 50px;
}

.menu li{
    list-style: none;
    margin: 10px;
}

.menu li a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.menu li a:hover{
    padding: 5px 10px;
    background: #208ccb;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

/*------------------------Nav--------------------------*/

/*------------------------Slider-----------------------*/
.containerSlider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 500;
}

.slider{
    display: flex;
    width: 500%;
    height: 100%;
    margin-left: -100%;
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: rgba(23, 143, 127, 0.6);
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover{
    color: rgba(245, 174, 154, 0.90);
}

.slider__btn--left{
    left: 20px;
}

.slider__btn--right{
    right: 40px;
}

/*------------------------Slider-----------------------*/

/*-------------------Main Container---------------------*/
.mainContainer{
    width: 100%;
    background: #fffc;
    padding: 55px;
}

.blockContainerPeq{
    min-height: 300px;
    /*border: 2px solid rgb(201, 168, 62);*/
    margin: 30px 0 30px 0;
    padding: 35px;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.blockContainerPeq .infoContainerDat{
    width: 55%;
    height: 300px;
    /*border: 2px solid rgb(119, 58, 17);*/

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titleInfo{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #045585;
}

.textInfo{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin-top: 15px;
    color: #164f91;
}

.blockContainerPeq .imgContainerDat{
    width: 45%;
    height: 300px;
    /*border: 2px solid #568;*/
}


.imgContenido{
    width: 100%;
}

.blockContainerMed{
    min-height: 400px;
    /*border: 2px solid rgb(201, 168, 62);*/
    margin: 0;
    margin-top: 100px;
    padding: 0 35px;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blockContainerMed .infoContainerDat{
    width: 55%;
    height: 600px;
    /*border: 2px solid rgb(119, 58, 17);*/

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.blockContainerMed .imgContainerDat{
    width: 45%;
    height: 600px;
    /*border: 2px solid #568;*/
    
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    justify-content: center;
    align-items: center;
}

.listaOLInfo{
    margin: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    text-align: justify;
    color: #164f91;
}

.listaOLInfo li{
    margin: 15px;
}

/*-------------------Main Container---------------------*/  

/*-----------Footer------------*/

.footerAnimado{
    justify-content: flex-end;
    align-items: flex-end;
    background: rgb(240, 240, 240);
    font-family: 'Montserrat', sans-serif;
}

footer{
    margin-top: 0px;
    position: relative;
    display: flex;
    width: 100%;
    background: rgb(4, 85, 133);
    min-height: 50px;
    padding: 30px 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, footer .menu2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li, footer .menu2 li{
    list-style: none;
}

footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 10px 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-15px);
}

footer .menu2 li a{
    font-size: 1.3em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: bolder;
}

footer .menu2 li a:hover{
    opacity: 1;
    transform: scale(1.18);
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
}

.waves{
margin-bottom: 15px;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
}
/*-----------------footer---------------------*/

 /* ---------------@media---------------------- */

@media only screen and (max-width: 1000px){
    .titleInfo{
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        color: #045585;
    }
    
    .textInfo{
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        margin-top: 15px;
        color: #164f91;
    }
    .listaOLInfo{
        margin: 15px;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        text-align: justify;
        color: #164f91;
    }

    .imgContenido{
        width: 100%;
        padding-top: 50px;
    }

}

@media only screen and (max-width: 880px){

    .mainContainer{
        width: 100%;
        background: #fffc;
        padding-top: 100px;
    }
    .blockContainerPeq{
        /*border: 2px solid rgb(201, 168, 62);*/
        margin: 0px 0 30px 0;
        padding: 35px;
        padding-top: 0px;
    
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blockContainerMed{
        /*border: 2px solid rgb(201, 168, 62);*/
        margin: 30px 0 30px 0;
        padding: 35px;
    
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blockContainerMed .infoContainerDat{
        width: 100%;
        height: auto;
        /*border: 2px solid rgb(119, 58, 17);*/
    
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
    }

    .blockContainerMed .imgContainerDat{
        width: 70%;
        height: auto;
        /*border: 2px solid #568;*/
        
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    
        justify-content: center;
        align-items: center;
    }

    .blockContainerPeq .infoContainerDat{
        width: 100%;
        /*border: 2px solid rgb(119, 58, 17);*/
    
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blockContainerPeq .imgContainerDat{
        width: 70%;
    }
    
    .imgContenido{
        width: 100%;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .titleInfo{
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        color: #045585;
    }
    
    .textInfo{
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        margin-top: 15px;
        color: #164f91;
    }

    .listaOLInfo{
        margin: 15px;
        font-family: 'Open Sans', sans-serif;
        font-size: 19px;
        text-align: justify;
        color: #164f91;
    }

}
 
@media only screen and (max-width: 786px){
    .containerSlider{
        width: 100%;
        margin: auto;
        padding-top: 80px;
        overflow: hidden;
        position: relative;
        z-index: 500;
    }
    .slider{
        display: flex;
        width: 500%;
        margin-left: -100%;
    }
    .slider__btn{
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        font-size: 50px;
        color: rgba(23, 143, 127, 0.6);
        font-weight: bold;
        font-family: monospace;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }

}

@media only screen and (max-width: 650px){

    .navName{
        display: flex;
        font-size: 23px;
        margin-left: 10px;
        color: #000;
        font-weight: 100;
        align-items: center;
    }
    .logo{
        margin-left: 20px;
        font-size: 22px;
        margin-top: 5px;
    }
    .menu{
        display: flex;
        margin-right: 10px;
    }
    .menu li{
        list-style: none;
        margin: 15px 7px;
    }
    .menu li a{
        font-size: 17px;
        color: rgb(0, 0, 0);
        border-radius: 15px;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s ease;
    }
}

@media only screen and (max-width: 550px){

    .blockContainerPeq{
        /*border: 2px solid rgb(201, 168, 62);*/
        margin: 30px 0 100px 0;
        padding: 0;

        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .blockContainerMed{
        /*border: 2px solid rgb(201, 168, 62);*/
        margin: 30px 0 100px 0;
        padding: 0;
    
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blockContainerPeq .imgContainerDat{
        width: 70%;
        height: auto;
        /*border: 2px solid #568;*/
        
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    
        justify-content: center;
        align-items: center;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .titleInfo{
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        color: #045585;
    }
    
    .textInfo{
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        margin-top: 15px;
        color: #164f91;
    }
    .listaOLInfo{
        margin: 15px;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        text-align: justify;
        color: #164f91;
    }

    .imgContenido{
        width: 400px;
    }

}

@media only screen and (max-width: 420px){
    .nav{
        position: fixed;
        color: #fff;
        width: 100%;
        background: rgba(255, 255, 255);
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        transition: all 0.5s ease;
        height: 110px;
        z-index: 1000;
        box-shadow: 0px 10px rgba(32, 140, 203, 0.7);
    }

    .navName{
        display: flex;
        font-size: 30px;
        margin-left: -40px;
        color: #000;
        font-weight: 100;
        align-items: center;
    }

    .menu li a{
        font-size: 17px;
        color: rgb(0, 0, 0);
        border-radius: 15px;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s ease;
    }
    .containerSlider{
        width: 100%;
        margin: auto;
        padding-top: 110px;
        overflow: hidden;
        position: relative;
        z-index: 500;
    }
    .slider__btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        color: rgba(23, 143, 127, 0.6);
        font-weight: bold;
        font-family: monospace;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }
    
}

 /* ---------------@media---------------------- */